@import url("./tokens.css");

.desktop-only {
  display: flex;
}

.mobile-visible {
  display: flex;
}

.header {
  border-bottom: 1px solid #eee;
  padding: var(--space-3) 0;
  background-color: var(--color-gray-50);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--space-5);
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

.search-bar {
  display: flex;
  flex: 1;
  max-width: 500px;
}

.search-bar input {
  flex: 1;
  padding: var(--space-4);
  border: 1px solid #ccc;
  font-size: var(--font-size-sm);
}

.search-bar button {
  padding: var(--space-3) var(--space-3);
  border: none;

  background: none;
  color: white;

  cursor: pointer;
}

.search-bar button img{
  width:18px;
  height:18px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.header-links a {
  text-decoration: none;
  color: #333;
  font-size: var(--font-size-sm);
}

.header-links a:hover {
  color: var(--primary-color);
}

.header-link {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.link-icon {
  width: 20px;
  height: 20px;
}

.link-text {
  color: var(--color-gray-700);
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.logo img {
  height: 40px;
  width: auto;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;

  cursor: pointer;
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .mobile-visible {
    display: flex;
  }

  .link-text {
    display: none;
  }

  .header-links {
    gap: var(--space-3);
  }

  .link-icon {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
